.bg-blue{
  background-color: #89CFF0;
}
.Notebook_Box{
  width: 40vw;
  height: 40vh;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}


.Note_Box{
  width: 20vw;
  height: 25vh;
  box-sizing: border-box;
  border: 3px solid #89CFF0;
}
@media screen and (max-width: 580px) {
 .Note_Box{
  width: 50vw;
  height: 30vh;
 }
}


